      <h1>Your are Zlatan! You wanna play tonight but what does your coach say?</h1>

      <div class="form-center">
        <form action="/answer">
          <div class="form-group">
            <label for="question">Speak to your Guardiola</label>
            <input type="text" id="question" name="query" class="form-control" placeholder="coach I wanna play!">
          </div>
          <input class="btn btn-primary" type="submit" value="tell him!">
        </form>
      </div>

      <p>Here are your options: <br>
        1. tell him anything you want like "I wanna play tonight" <br>
        2. tell him "You are better than Mourinho!" -> HE WILL BE HAPPY <br>
        3. tell him "Go to hell!" or "You don't have any balls!" --> HE WILL CRY..
      </p>
